* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #000000, #2b2929);
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #333;
}

nav {
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.nav-menu-container {
    /* margin-left: auto; */
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu-items {
    list-style-type: none;
    margin: 1rem;
}

.nav-menu-items a {
    text-decoration: none;
    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-items {
    margin: 0.4rem;
}

.logo-items p {
    color: #25ab75;
    font-size: 2rem;
}

.logo-items i {
    font-size: 2.6rem;
}

/*------------- Hero styles ---------------- */
main {
    overflow: hidden;
}

.hero {
    font-family: "Space Grotesk", sans-serif;
    width: 70vw;
    height: 100vh;
    margin: auto;
    margin-top: 100px ;
    padding: 80px;
    display: flex;
    justify-content: center;
    min-width: 100vw;
}
.hero-description {
    width: 50vw;
    height: 100vh;
}
.hero-description-title {
    font-weight: 700;
    font-size: 3.125rem;
}

.hero-image {
    width: 80%;
    height: 100% ;
    display: flex;
    position: relative;
    margin: auto;
}

.hero-profile-image {
    width: 40vw;
    height: 80% ;
    /* object-fit: cover; */
    position: absolute;
    /* top: -22%; */
    right: 38%;
    margin: auto;
}

.hero-shape {
    width: 956%;
    height: 100%;
    /* position: absolute; */
    left: -6%;
    /* top: -16%; */
    transform: rotate(-20deg);
    object-fit: cover;
}

/* --------------- Media Query -------------*/
@media (max-width: 767.98px) {
    nav {
        display: block;
    }
    .nav-menu {
        justify-content: center;
    }
}